*{
  margin: 0;
  padding : 0;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

*::-webkit-scrollbar {
  display: none;
}

dl, li, menu, ol, ul {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 390px;
  height: 844px;
  background: #E5E5EA;
}